<!-- <diretiva-ngswitch></diretiva-ngswitch> -->
<!-- <diretiva-ngfor></diretiva-ngfor> -->
<!-- <diretiva-ngclass></diretiva-ngclass> -->
<!-- <diretiva-ngstyle></diretiva-ngstyle> -->

<!-- <operator-elvis></operator-elvis> -->

<!-- <ngcontent >teste</ngcontent> -->


<!-- diretivas/focusOn and fundo-amarelo -->
<!-- <p FundoAmarelo>adwwa</p>
<input focusOn type="text"> -->

<!-- diretivas/highlist-mouse -->
<!-- <p HighlightMouse >teste</p> -->

<!-- diretivas: input and property bind -->
<!-- <p highlight="blue">Teste</p> -->

<p>OIDAWDAWDAW</p>

<div [ngElse]="false">
  <p>OIDAWDAWDAW</p>
</div>

<!-- <p condition>ELSE</p> -->
