div {
  display: flex;
  justify-content: center;
}

div p {
  margin: 0 5px;
}

div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

div input {
  text-align: center;
}
